
<style>
.customer-contents{
  font-family: helvetica;
  font-size: 20px;
}
.customer-legends{
  font-family: georgia;
  font-size: 30px;
}
</style>


<div class="container">
  <div class="customers">
    <fieldset class="customer-fields">
      <legend class="customer-legends">
        &ensp;<strong>C U S TO M E R S</strong>
      </legend>
      <div class="container">
        {{#each customers}}
        <div class="row">
          <div class="col-md-12">
            <div class="customer-contents">
              _____________________________________________________
              <div class="customer-contents2">
                <li><b>Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
                <li><b>Email:</b> {{this.email}}</li>
                <li><a href="/admin/customers/{{this.id}}"  role="button" class="btn btn-secondary btn-lg btn-block" style="background-color: #262626; color:lightgray;  width: 150pt">See More Details</button></a>
                </li>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </fieldset>
  </div>
</div>