<style>
.order-contents{
  font-family: helvetica;
  font-size: 20px;
}
.order-legends{
  font-family: georgia;
  font-size: 30px;
}
</style>
<div class="container">
  <div class="orders">
    <fieldset class="order-fields">
      <legend class="order-legends">
        &ensp;<strong>O R D E R S</strong>
      </legend>
      <div class="container">
        {{#each orders}}
        <div class="row">
          <div class="col-md-12">
            <div class="order-contents">
              ___________________________________________________________
                            <div class="order-contents2">
                <li><b>Full Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
                <li><strong>Email:</strong> {{this.email}}</li>
                <li><strong>Ordered Product:</strong> {{this.product_name}}</li>
                <li><strong>Quantity:</strong> {{this.quantity}}</li>
                <li><strong>Date:</strong> {{moment this.purchase_date local=true add='hours' amount='8' format='llll'}}</li>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>