
		<div class="col-sm-6" style="position:absolute; padding-bottom: ">
			<div class="col-sm-4" style=" padding: 100pt">
				<img src="{{image}}"style=" width:300px ; height: 300px;">
			</div>
		</div>
		<div class="col-sm-6" style="margin-left:500px">
			<div style="padding-left: 40pt; padding-top: 50pt">

				<h1>{{tagline}}</h1>
				<h1><strong>{{name}}</h1></strong>
				<label style="margin-bottom: 20pt; font-size: 15pt">Php {{price}} | {{category}}</label>
				<p align="justify">{{{description}}}</p>
				<p align="justify">Warranty: {{warranty}} year/s</p>
				<a href="/admin/product/update/{{this.id}}"><button type="button" style="float:right; margin-right:20px;" class="btn btn-md btn-design">Update Product</button></a>&ensp;&ensp;
			</div>
		</div>
		<div class="container">
			<p></p>
		</div>
	</div>
</div>
{{!-- <div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-0 mx-auto">
			<div class="card center">
				<img class="card-img-top" src="{{image}}" alt="{{name}}">
				<div class="card-body">
					<h4 class="card-title">{{name}}</h4>
					<h5 class="card-title">{{brandname}} Shoes</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mb-0 mx-auto">
			<div class="jumbotron jumbotron-design">
				<div class="modal-body">
					<h5>{{name}} - {{brandname}} (P{{price}}.00)</h5>
					<h6><i>{{category}}</i></h6>
					<hr>
					<ul>
						<li style="text-decoration:none">Name: {{name}}</li>
						<li style="text-decoration:none">Description: {{description}}</li>
						<li style="text-decoration:none">Brand Name: {{brandname}}</li>
						<li style="text-decoration:none">Brand Description: {{branddescription}}</li>
						<li style="text-decoration:none">Tagline: {{tagline}}</li>
						<li style="text-decoration:none">Warranty (in years): {{warranty}}</li>
						<li style="text-decoration:none">Category: {{category}}</li>
					</ul>
				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" style="float:right; margin-right:20px;" class="btn btn-md btn-design" data-toggle="modal" data-target="#orderModal">Order Product</button>
					<a href="/product/update/{{this.id}}"><button type="button" style="float:right; margin-right:20px;" class="btn btn-md btn-design">Update Product</button></a>&ensp;&ensp;
				</div>
			</div>
		</div>
	</div>
</div> --}}

<!--Order Modal-->


