<div class="container text-center" >

	<div class=" container panel panel-default" id="brandPanel" style="border: 0px solid black; margin-top: 30pt"  >
		<div class="panel-heading" id="brandPanelHead"><h4><label>Customer Data</label></h4></div>
			<div class="panel-body" >
				<div class="form-group">
					<label>Name</label><br>
					<p>{{first_name}} {{last_name}}</p>
					<label>Email</label>
					<p>{{email}}</p>
					<label>Address</label>
					<p>{{street}}, {{city_municipality}}, {{zipcode}}</p>
					<button type="button" class="btn btn-sm form-update-button" id="clearr" onclick="goBack()" >Back</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container " id="brandTable" style="margin-bottom: 50pt;margin-top: 30pt">
		<table class="table table-hover" id="posts" >
			<thead>
				<tr>
					<th class="text-center">
						<label>Order ID</label>
					</th>
					<th class="text-center">
						<label>Product Name</label>
					</th>
					<th class="text-center">
						<label>Price</label>
					</th>
					<th class="text-center">
						<label>Quantity</label>
					</th>
					<th class="text-center">
						<label>Total</label>
					</th>
					<th class="text-center">
						<label>Order Message</label>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each orders_data}}
					<tr>
						<td class="text-center">{{this.id}}</td>
						<td class="text-center">{{this.name}}</td>
						<td class="text-center">Php {{this.price}}</td>
						<td class="text-center">{{this.quantity}}</td>
						<td class="text-center">Php {{this.total}}</td>
						<td class="text-center">{{this.message}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>



</div>


<script type="text/javascript">
function goBack() {
    window.history.back();
}


</script>