


<div class="container" style="margin-top: 10pt; margin-bottom: 40pt">
	<div class="row">
		<div class="col-lg-6">
			<div class="container" style="padding: 100pt">
				<img src="{{product_primary_picture}}">;
			</div>
		</div>
		<div class="col-lg-6">
			<div style="padding-left: 40pt; padding-top: 50pt">
				<h1>{{product_name}}</h1>
				<label style="margin-bottom: 20pt; font-size: 15pt">Php {{product_price}} | {{product_brand}} | {{product_category}}</label>
				<form action="/product/update" method="POST">
					<input type="hidden" name="product_id" value="{{product_id}}">
					<input class="btn btn-sm form-update-button" type="submit" name="" value="Update" style="margin-bottom: 2em">
					<button class="btn btn-sm form-update-button" type="button" name="" style="margin-bottom: 2em" data-toggle="modal" data-target="#form-modal">Order</button> 
				</form>
				<p align="justify">{{{product_description}}}</p>
				<p align="justify">Warranty: {{product_warranty}} year/s</p>
			</div>
		</div>
		<div class="container">
			<p></p>
		</div>
	</div>
</div>

<div id="form-modal" class="modal fade" role="dialog" style="margin-top: 50pt">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>Order Request</h3>
      </div>


      <div class="modal-body">
        <p>Please use this form to contact us and we will get back to you as soon as possible!</p>
	  <div class="form-group" >
        <form action="/form" method="POST" class="form-group">
			<div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>First name</label>
					<input style="" class="form-control" type="text" name="first_name" placeholder="Enter your first name here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>Last name</label>
					<input style="" class="form-control" type="text" name="last_name" placeholder="Enter your last name here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>Email</label>
					<input class="form-control" type="email" name="email" placeholder="Enter your email here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>Street</label>
					<input class="form-control" type="text" name="street" placeholder="Enter your street address here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>City/Municipality</label>
					<input class="form-control" type="text" name="city_municipality" placeholder="Enter your city/municipality here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>Zipcode</label>
					<input class="form-control" type="text" name="zipcode" placeholder="Enter your zipcode here" required>
				</div>
				<div class="form-group md-col-5" style="margin: 5px">
					<label>Quantity of Order:</label>
					<input class="form-control" type="number" name="quantity" placeholder="Enter Quantity here" required>
				</div>
				<div class="form-group" style="margin: 5px">
					<label>Order Request:</label>
					<textarea style="resize: none" class="form-control" rows="4" name="message" placeholder="personal request if any" maxlength="512"></textarea>
				</div>
				<div class="form-group" style="margin: 5px">
					<input type="hidden" name="product_name" value="{{product_name}}">
					<input type="hidden" name="product_id2" value="{{product_id}}">
					<input type="submit" class="btn btn-outline-light form-submit-button "  name="submit" value="Submit">
				</div>	
			</div>
		</form>
	  </div>
      </div>


    </div>

  </div>
</div>




{{!-- <div class="form-group" style="margin-right: 150pt; margin-left: 150pt"> --}}
{{!-- <div class="form-group" style="margin-right: 150pt; margin-left: 150pt">
	<div style="margin: 0pt 0pt 10pt 0pt">
		<h3>Order Request</h3>
	</div>
	<form action="/form" method="POST" class="form-inline">
		<div>
			<div class="form-group md-col-5" style="margin: 5px">
				<label>Your Email:</label>
				<input style="margin-left: 50pt; width: 200pt" class="form-control" type="email" name="email" placeholder="Enter your email here">
			</div><br>
			<div class="form-group md-col-5" style="margin: 5px">
				<label>Your Name:</label>
				<input style="margin-left: 48pt; width: 200pt" class="form-control" type="text" name="name" placeholder="Enter your name here">
			</div><br>
			<div class="form-group md-col-5" style="margin: 5px">
				<label>Your Number:</label>
				<input style="margin-left: 37pt; width: 200pt" class="form-control" type="text" name="number" placeholder="Enter your number here">
			</div><br>
			<div class="form-group md-col-5" style="margin: 5px">
				<label>Quantity of Order:</label>
				<input style="margin-left: 16pt; width: 200pt" class="form-control" type="number" name="quantity" placeholder="Enter Quantity here">
			</div><br>
			<div class="form-group md-col-5" style="margin: 5px">
				<label>Product ID:</label>
				<input style="margin-left: 51pt; width: 200pt" class="form-control" type="text" name="idproduct" placeholder="Enter your number here" value="{{product_uid}}" disabled>
			</div><br>
			<div class="form-group" style="margin: 5px">
				<label>Address:</label>
				<input style="margin-left: 63pt; width: 330pt" class="form-control" type="text" name="address" placeholder="Enter your address here">
			</div><br>
			<div class="form-group" style="margin: 5px">
				<label>Order Request:</label>
				<textarea style="margin-left: 31pt; width: 330pt; resize: none" class="form-control" rows="4" name="order_request" placeholder=""></textarea>
			</div><br>
			<div class="form-group" style="margin: 5px">
				<input type="submit" class="btn btn-outline-light" name="submit" value="Submit">
			</div>	
		</div>
	</form>
</div> --}}
