

<h1 class="text-center">{{title}}</h1>

<div class="container" >
	<div class="product_row_css">
		{{#each products}}
			<div class="product_column_css product_container parent_el">
				{{!-- <div class="hidden ">{{this.name}}</div>
				<div class="hidden ">{{this.price}}</div>
				<div class="hidden ">{{this.primary_picture}}</div> --}}
				<img id="productImg" value="asd" class="imgPost" src="{{this.primary_picture}}" style="max-width: 275px">
				<div class="product_overlay">
					<form action="/product/id" method="POST">
						<input type="hidden" name="product_id" value="{{this.id}}">
						<input type="hidden" name="product_type" value="{{this.type}}">
						<input type="hidden" name="product_brand" value="{{this.brand}}">
						<input type="hidden" name="product_name" value="{{this.name}}">
						<input type="hidden" name="product_price" value="{{this.price}}">
						<input type="hidden" name="product_primary_picture" value="{{this.primary_picture}}">
						<input type="hidden" name="product_description" value="{{this.description}}">
						{{!-- <input type="submit" name="" value="{{this.name}} {{this.price}}"  style="background-color:transparent; width: 100%; margin: 0px; height: 100%; border: 0px solid;text-align: center; padding: 15pt"> --}}
						<button type="submit" name="" style="background-color:transparent; width: 100%; margin: 0px; height: 100%; border: 0px solid;text-align: center; padding-top: 5pt">{{this.name}}</br>Php {{this.price}}</button>
					</form>
				</div>
			</div>

		{{/each}}
	</div>
</div>

<script type="text/javascript">
	// console.log('asd');
	// $(document).ready(function(){
	//     $(".imgPost").click(function(){
	//     	var name = $(this).parent('.parent_el').children('.product_name').text();
	//     	var price = $(this).parent('.parent_el').children('.product_price').text();
	//     	var primary_picture = $(this).parent('.parent_el').children('.product_primary_picture').text();
	    	

	//     	var data = {
	//     		name: name,
	//     		price: price,
	//     		primary_picture: primary_picture
	//     	};
	//     	// JSON.stringify(data)
	// 		$.ajax({
	// 			type: "POST",
	// 			url: "/product/id",
	// 			timeout: 2000,
	// 			data: data,
	// 			success: function(data){
	// 				// alert("success")
	// 			},
	// 			error: function(jqXHR, textStatus, err) {
	//                 // alert('text status '+textStatus+', err '+err)
 //            	}
	// 		});

	//     });

	// });

</script>