<div class="container">
	<div class="jumbotron mt-3">
		<h1 class="mt-3 text-center">Member Information</h1>
		<div class="col-lg-4 col-md-6 mb-4 mx-auto">
			<div class="card bg-dark text-light center">
				<img class="card-img-top" src="{{imageurl}}" alt="">
				<div class="card-body">
					<h4 class="card-title">{{name}}</h4>
					<p class="card-text">
						<h7 class="card-title">{{email}}</h7>
						<br />
						<h7 class="card-title">{{phone}}</h7>
						<p>
							<h7 class="card-title">Hobbies: </h7>
							<ul>
								{{#each hobbies}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
						</p>
					</p>
				</div>
			</div>
		</div>	
	</div>
</div>
	