<style>

.btn-design {

	background-color: #778899;
	border-color: #FFFFF;
	color: #FFFFFF;

}

.btn-design:hover{
	
	background-color: #778899;
	border-color: #FFFFF;
	color: #FFFFFF;

}

</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="modal-body">
				<form method="POST" action="/updateproduct/{{rows.products_id}}">
					<div class="form-group">
						<label for="name">Products Name:</label><br>
						<input type="text" name="products_name" class="form-control" value="{{rows.products_name}}" required="">
					</div>
					<div class="form-group">
						<label for="description">Products Description:</label><br>
						<input type="text" name="products_description" class="form-control" value="{{rows.products_description}}" required="">
					</div>
					<div class="form-group">
						<label for="tagline">Products Tagline:</label><br>
						<input type="text" name="products_tagline" class="form-control" value="{{rows.products_tagline}}" required="">
					</div>
					<div class="form-group">
						<label for="price">Products Price:</label><br>
						<input type="number" name="products_price" class="form-control" value="{{rows.products_price}}" required="">
					</div>
					<div class="form-group">
						<label for="warranty">Products Warranty (In years):</label><br>
						<input type="number" name="products_warranty" class="form-control" value="{{rows.products_warranty}}" required="">
					</div>
					<div class="form-group">
						<label for="brand_id">Products Brand:</label><br>
						<select class="form-control" name="brand_name" required="">
							{{#each brand.[0]}}
								<option value="{{this.id}}">{{this.brand_name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="form-group">
						<label for="warranty">Products Brand Description:</label><br>
						<input type="text" name="brand_description" class="form-control" value="{{rows.brand_description}}" required="">
					</div>					
					<div class="form-group">
						<label for="category_id">Products Category:</label><br>
						<select class="form-control" name="category_name" required="">
							{{#each brand.[1]}}
								<option value="{{this.id}}">{{this.product_category_name}}</option>
							{{/each}}
						</select><br>
					<div class="form-group">
						<label for="image">Products Image URL:</label><br>
						<input type="text" name="products_image" class="form-control" value="{{rows.products_image}}" required="" placeholder="Enter Product Image URL"><br><hr>
					</div>

					<div class="form-group">
						<input type="submit" name="submit" value="Update" class="btn btn-md btn-design" style="background-color: #262626;color:lightgray; width: 200pt">
					</div>
					<div class="form-group">
						<a href="/products"><button type="button" class="btn btn-md btn-design" style="background-color: #262626;color:lightgray; width: 200pt" href="/products">Go back</button></a>
					</div>		
				</form>
			</div>
		</div>
	</div>
</div>
